{erl_opts, [debug_info]}.

{deps, [{jsx, "~> 3.0"}]}.

{relx, [{release, {simple_chat, "0.1.0"},
         [kernel,
          stdlib,
          sasl,
          simple_chat,
          simple_chat_frontend]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{shell, [
    {apps, [simple_chat_frontend]}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {debug_info, strip}]}]
            }]
}.